@using WeatherDashboard.Components.Shared

@inject CitiesService CitiesService


<div class="d-flex bg-body-tertiary" style="border: 1px solid; align-items:center; height:70px">
	<p class="nav-item text-wrap display-6 m-3" style="width:100%">@SelectedCity.Locality</p>
	<CitiesSearchbar/>
</div>

@code {
	private SwedishCitiesModel SelectedCity => CitiesService.GetSelectedCity();

	protected override void OnInitialized()
	{
		CitiesService.SelectedCityChanged += OnDataClassChanged;
	}

	public void Dispose()
	{
		CitiesService.SelectedCityChanged -= OnDataClassChanged;
	}

	public void OnDataClassChanged(object? sender, SwedishCitiesModel value)
	{
		InvokeAsync(StateHasChanged);
	}
}
